{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}


<div class="page-wrapper">


    <section class="hero-wrap style1">
        <div class="hero-slider-one owl-carousel">
            <div class="hero-slide-item">
                <div class="container-fluid">
                    <span class="hero-promotext">HEADPHONES</span>
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero-content">
                                <span data-aos="fade-right" data-aos-duration="1200" data-aos-delay="100">PXC 550
                                    WIRELESS</span>
                                <h1 data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">Superior
                                    Sound With Tengible Quality</h1>
                                <p data-aos="fade-right" data-aos-duration="1200" data-aos-delay="500">Lorem ipsum
                                    dolor sit amet consectetur adipisicing elit. Cum verit atis assum enda maiores
                                    eos ducimus ullam accusamus vitae beatae quas in.</p>
                                <a href="shop-left-sidebar.html" class="btn style1" data-aos="fade-right"
                                    data-aos-duration="1200" data-aos-delay="700"> Shop Now</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero-img-wrap" data-speed="0.10" data-revert="true">
                                <img src="{% static 'assets/img/hero/hero-slider-1.png' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide-item">
                <div class="container-fluid">
                    <span class="hero-promotext">HEADPHONES</span>
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero-content">
                                <span data-aos="fade-right" data-aos-duration="1200" data-aos-delay="100">NEW
                                    ARRIVALS</span>
                                <h1 data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">Change Your
                                    State Of Mind With Music</h1>
                                <p data-aos="fade-right" data-aos-duration="1200" data-aos-delay="500">Lorem ipsum
                                    dolor sit amet consectetur adipisicing elit. Cum verit atis assum enda maiores
                                    eos ducimus ullam accusamus vitae beatae quas in.</p>
                                <a href="shop-left-sidebar.html" class="btn style1" data-aos="fade-right"
                                    data-aos-duration="1200" data-aos-delay="700"> Shop Now</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero-img-wrap" data-speed="0.10" data-revert="true">
                                <img src="{% static 'assets/img/hero/hero-slider-2.png' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide-item">
                <div class="container-fluid">
                    <span class="hero-promotext">HEADPHONES</span>
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero-content">
                                <span data-aos="fade-right" data-aos-duration="1200" data-aos-delay="100">HOT
                                    COLLECTION</span>
                                <h1 data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">Pro DJ
                                    Headphone With Stereo Mood</h1>
                                <p data-aos="fade-right" data-aos-duration="1200" data-aos-delay="500">Lorem ipsum
                                    dolor sit amet consectetur adipisicing elit. Cum verit atis assum enda maiores
                                    eos ducimus ullam accusamus vitae beatae quas in.</p>
                                <a href="shop-left-sidebar.html" class="btn style1" data-aos="fade-right"
                                    data-aos-duration="1200" data-aos-delay="700"> Shop Now</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero-img-wrap" data-speed="0.10" data-revert="true">
                                <img src="{% static 'assets/img/hero/hero-slider-3.png' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="feature-wrap pt-100 pb-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                    data-aos-delay="100">
                    <div class="feature-card style1">
                        <span class="feature-icon">
                            <img src="{% static 'assets/img/shape/feature-shape.png' %}" alt="Image">
                            <i class="flaticon-volume"></i>
                        </span>
                        <div class="feature-text">
                            <h3>Clear Sound Performance</h3>
                            <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin lorem quis bibend
                                sit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                    data-aos-delay="200">
                    <div class="feature-card style1">
                        <span class="feature-icon">
                            <img src="{% static 'assets/img/shape/feature-shape.png' %}" alt="Image">
                            <i class="flaticon-touch-screen"></i>
                        </span>
                        <div class="feature-text">
                            <h3>Touch Sensitive Trackpad</h3>
                            <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin lorem quis bibend
                                sit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                    data-aos-delay="300">
                    <div class="feature-card style1">
                        <span class="feature-icon">
                            <img src="{% static 'assets/img/shape/feature-shape.png' %}" alt="Image">
                            <i class="flaticon-headphones"></i>
                        </span>
                        <div class="feature-text">
                            <h3>Comfortable To Wear</h3>
                            <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin lorem quis bibend
                                sit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="about-wrap style1 pb-100">
        <span class="section-text">ABOUT US</span>
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 col-md-12 col-12 order-lg-1 order-md-2 order-2">
                    <div class="about-img-wrap" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                        <img src="{% static 'assets/img/about/about-img-5.png' %}" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 order-lg-2 order-md-1 order-1">
                    <div class="about-content" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="200">
                        <div class="content-title style1">
                            <span>ABOUT US</span>
                            <h2>We’ve Best Qualit y Products With Best Colections</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accuse antium lorem
                                sit totam rem aperiam, eaque ipsa quae ab illution inventore veritatis quasi archi.
                            </p>
                        </div>
                        <div class="feature-item-wrap style1">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-audio-waves"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Enjoy Your Own Audio Language</h3>
                                    <p>Vestibulum ac diam sit amet quam vehicula elemen tum sed sit amet dui
                                        praesent sapien pellen tesque .</p>
                                </div>
                            </div>
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-volume-1"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Feel The Shape Of Comfort</h3>
                                    <p>Vestibulum ac diam sit amet quam vehicula elemen tum sed sit amet dui
                                        praesent sapien pellen tesque.</p>
                                </div>
                            </div>
                        </div>
                        <a href="about.html" class="btn style1">More About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="product-wrap bg-athens pt-100 pb-75">
        <div class="container">
            <div class="section-title style1 text-center mb-40">
                <span>HOT COLLECTION</span>
                <h2>Browse Our Top Smart Phones</h2>
            </div>
            <div class="product-slider-one owl-carousel">

                {% for m in mobiles %}
                <div class="product-card style1">
                    <a  href = "{% url 'product_item' m.id %}">
                    <div class="product-img bg-athens">
                        
                        <img src="{{ m.Image.url }}" alt="image">
                        <ul class="product-option list-style">
                            <li><button type="button" data-bs-toggle="modal" data-bs-target="#product-modal"><i
                                        class="ri-eye-line"></i></button></li>
                            <li><a href="{% url 'add_to_cart' %}"><i class="ri-shopping-cart-2-line"></i></a></li>
                            <li><a href="wishlist.html"><i class="ri-heart-line"></i></a></li>
                        </ul>
                    </a>
                </div>
                    <div class="product-info">
                        <ul class="ratings list-style">
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                        </ul>
                        <h3><a href="shop-details.html">{{ m.ProductName }}</a></h3>
                        <p class="product-price"> {{m.Price}}<span class="discount">$80.00</span></p>
                    </div>
                </div>
                {% endfor %}
            </div>



            <div class="section-title style1 text-center mb-40 my-5">
                <h2>Browse Our Top Laptops</h2>
            </div>
            <div class="product-slider-one owl-carousel">
                {% for l in laptops %}
                <div class="product-card style1">
                    <div class="product-img bg-athens">

                        <img src="{{ l.Image.url }}" alt="image">
                        <ul class="product-option list-style">
                            <li><button type="button" data-bs-toggle="modal" data-bs-target="#product-modal"><i
                                        class="ri-eye-line"></i></button></li>
                            <li><a href="cart.html"><i class="ri-shopping-cart-2-line"></i></a></li>
                            <li><a href="wishlist.html"><i class="ri-heart-line"></i></a></li>
                        </ul>

                    </div>
                    <div class="product-info">
                        <ul class="ratings list-style">
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                        </ul>
                        <h3><a href="shop-details.html">{{ l.ProductName }}</a></h3>
                        <p class="product-price"> {{l.Price}}<span class="discount">$80.00</span></p>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="section-title style1 text-center mb-40 my-5">
                <h2>Browse Our Top HaedPhones</h2>
            </div>
            <div class="product-slider-one owl-carousel">

                {% for hp in headphones %}
                <div class="product-card style1">
                    <div class="product-img bg-athens">

                        <img src="{{ hp.Image.url }}" alt="image">
                        <ul class="product-option list-style">
                            <li><button type="button" data-bs-toggle="modal" data-bs-target="#product-modal"><i
                                        class="ri-eye-line"></i></button></li>
                            <li><a href="cart.html"><i class="ri-shopping-cart-2-line"></i></a></li>
                            <li><a href="wishlist.html"><i class="ri-heart-line"></i></a></li>
                        </ul>

                    </div>
                    <div class="product-info">
                        <ul class="ratings list-style">
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                        </ul>
                        <h3><a href="shop-details.html">{{ hp.ProductName }}</a></h3>
                        <p class="product-price"> {{hp.Price}}<span class="discount">$80.00</span></p>
                    </div>
                </div>
                {% endfor %}

            </div>




        </div>
    </section>


    <div class="partner-wrap style1">
        <div class="container ">
            <div class="partner-slider-one owl-carousel">
                <div class="partner-item">
                    <img src="{% static 'assets/img/partner/partner-9.png' %}" alt="Image">
                </div>
                <div class="partner-item">
                    <img src="{% static 'assets/img/partner/partner-10.png' %}" alt="Image">
                </div>
                <div class="partner-item">
                    <img src="{% static 'assets/img/partner/partner-11.png' %}" alt="Image">
                </div>
                <div class="partner-item">
                    <img src="{% static 'assets/img/partner/partner-12.png' %}" alt="Image">
                </div>
                <div class="partner-item">
                    <img src="{% static 'assets/img/partner/partner-13.png' %}" alt="Image">
                </div>
            </div>
        </div>
    </div>


    <section class="testimonial-wrap pt-100 pb-75">
        <div class="container">
            <div class="section-title style1 text-center mb-40">
                <span>TESTIMONIALS</span>
                <h2>What People Say About Us</h2>
            </div>
            <div class="testimonial-slider-one owl-carousel">
                <div class="testimonial-card style1">
                    <ul class="ratings list-style">
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                    </ul>
                    <h3 class="promo-text">Full Enjoyable!</h3>
                    <p class="client-quote">Lorem ipsum dolor sit amet adip elitionus repellus ata tetur delni vel
                        quam aliqous earadi umiotion sit explibom dolor eme.</p>
                    <div class="client-info-wrap">
                        <div class="client-img">
                            <img src="{% static 'assets/img/testimonials/client-4.jpg' %}" alt="Image">
                        </div>
                        <div class="client-info">
                            <h4>Harry Jackson</h4>
                            <span>Enterpreneur</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card style1">
                    <ul class="ratings list-style">
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                    </ul>
                    <h3 class="promo-text">In Love With This!</h3>
                    <p class="client-quote">Lorem ipsum dolor sit amet adip elitionus repellus ata tetur delni vel
                        quam aliqous earadi umiotion sit explibom dolor eme.</p>
                    <div class="client-info-wrap">
                        <div class="client-img">
                            <img src="{% static 'assets/img/testimonials/client-5.jpg' %}" alt="Image">
                        </div>
                        <div class="client-info">
                            <h4>Chris Haris</h4>
                            <span>MD, ITec</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card style1">
                    <ul class="ratings list-style">
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                    </ul>
                    <h3 class="promo-text">Can't Stop Listening!</h3>
                    <p class="client-quote">Lorem ipsum dolor sit amet adip elitionus repellus ata tetur delni vel
                        quam aliqous earadi umiotion sit explibom dolor eme.</p>
                    <div class="client-info-wrap">
                        <div class="client-img">
                            <img src="{% static 'assets/img/testimonials/client-6.jpg' %}" alt="Image">
                        </div>
                        <div class="client-info">
                            <h4>Anthony Mascar</h4>
                            <span>Enterpreneur</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card style1">
                    <ul class="ratings list-style">
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                    </ul>
                    <h3 class="promo-text">Everything Available!</h3>
                    <p class="client-quote">Lorem ipsum dolor sit amet adip elitionus repellus ata tetur delni vel
                        quam aliqous earadi umiotion sit explibom dolor eme.</p>
                    <div class="client-info-wrap">
                        <div class="client-img">
                            <img src="{% static 'assets/img/testimonials/client-1.jpg' %}" alt="Image">
                        </div>
                        <div class="client-info">
                            <h4>Jim Morison</h4>
                            <span>Director, BAT</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card style1">
                    <ul class="ratings list-style">
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                    </ul>
                    <h3 class="promo-text">Looking Good!</h3>
                    <p class="client-quote">Lorem ipsum dolor sit amet adip elitionus repellus ata tetur delni vel
                        quam aliqous earadi umiotion sit explibom dolor eme.</p>
                    <div class="client-info-wrap">
                        <div class="client-img">
                            <img src="{% static 'assets/img/testimonials/client-2.jpg' %}" alt="Image">
                        </div>
                        <div class="client-info">
                            <h4>Alex Cruis</h4>
                            <span>CEO, IBAC</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card style1">
                    <ul class="ratings list-style">
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                    </ul>
                    <h3 class="promo-text">Awesome Features</h3>
                    <p class="client-quote">Lorem ipsum dolor sit amet adip elitionus repellus ata tetur delni vel
                        quam aliqous earadi umiotion sit explibom dolor eme.</p>
                    <div class="client-info-wrap">
                        <div class="client-img">
                            <img src="{% static 'assets/img/testimonials/client-3.jpg' %}" alt="Image">
                        </div>
                        <div class="client-info">
                            <h4>Tom Haris</h4>
                            <span>Engineer, Olleo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="promo-wrap  pb-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1200"
                    data-aos-delay="100">
                    <div class="feature-card style3">
                        <div class="feature-icon">
                            <img src="{% static 'assets/img/shape/feature-shape.png' %}" alt="Image">
                            <i class="flaticon-delivery"></i>
                        </div>
                        <div class="feature-text">
                            <h3>Free Shipping</h3>
                            <p>There are many variations of lorem Ipsum available.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1200"
                    data-aos-delay="200">
                    <div class="feature-card style3">
                        <div class="feature-icon">
                            <img src="{% static 'assets/img/shape/feature-shape.png' %}" alt="Image">
                            <i class="flaticon-24-hour-clock"></i>
                        </div>
                        <div class="feature-text">
                            <h3>Support 24/7</h3>
                            <p>There are many variations of lorem Ipsum available.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1200"
                    data-aos-delay="300">
                    <div class="feature-card style3">
                        <div class="feature-icon">
                            <img src="{% static 'assets/img/shape/feature-shape.png' %}" alt="Image">
                            <i class="flaticon-return"></i>
                        </div>
                        <div class="feature-text">
                            <h3>7 Days Return</h3>
                            <p>There are many variations of lorem Ipsum available.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1200"
                    data-aos-delay="400">
                    <div class="feature-card style3">
                        <div class="feature-icon">
                            <img src="{% static 'assets/img/shape/feature-shape.png' %}" alt="Image">
                            <i class="flaticon-credit-card"></i>
                        </div>
                        <div class="feature-text">
                            <h3>Secured Payment</h3>
                            <p>There are many variations of lorem Ipsum available.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="offer-wrap style1 bg-albastor ptb-100">
        <span class="offer-promo-text">OFFER</span>
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6">
                    <div class="offer-content">
                        <div class="content-title style1 mb-25">
                            <span>SPECIAL OFFER</span>
                            <h2>Discount 50% On All Wireless Model Product</h2>
                        </div>
                        <a href="shop-left-sidebar.html" class="btn style1">Shop Now</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="offer-img-wrap" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
                        <img src="{% static 'assets/img/offer-img-1.png' %}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="product-feature-wrap ptb-100 td-aztech">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="section-title style1 text-center mb-40">
                        <span>SPECIFICATION</span>
                        <h2>Product Specification</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <div class="feature-item-wrap style4">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <i class="flaticon-wifi"></i>
                            </div>
                            <div class="feature-text">
                                <h3>Wireless</h3>
                                <p>Nisl suscipit adipiscing bibendum est tempus imperdiet nulla malesuada.</p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-icon">
                                <i class="flaticon-headphone"></i>
                            </div>
                            <div class="feature-text">
                                <h3>Perfect Sound Quality</h3>
                                <p>Nisl suscipit adipiscing bibendum est tempus imperdiet nulla malesuada.</p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-icon">
                                <i class="flaticon-microphone"></i>
                            </div>
                            <div class="feature-text">
                                <h3>Awsome Microphone</h3>
                                <p>Nisl suscipit adipiscing bibendum est tempus imperdiet nulla malesuada.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="featured-product-img bg-athens">
                        <img src="{% static 'assets/img/products/single-product-1.png' %}" alt="Image">
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="feature-item-wrap style4">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <i class="flaticon-sound"></i>
                            </div>
                            <div class="feature-text">
                                <h3>Noise Cancelling</h3>
                                <p>Nisl suscipit adipiscing bibendum est tempus imperdiet nulla malesuada.</p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-icon">
                                <i class="flaticon-bluetooth"></i>
                            </div>
                            <div class="feature-text">
                                <h3>Bluetooth</h3>
                                <p>Nisl suscipit adipiscing bibendum est tempus imperdiet nulla malesuada.</p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-icon">
                                <i class="flaticon-sound-control"></i>
                            </div>
                            <div class="feature-text">
                                <h3>Easy To Control</h3>
                                <p>Nisl suscipit adipiscing bibendum est tempus imperdiet nulla malesuada.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="blog-wrap  pb-75 dpt-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="section-title style1 text-center mb-40">
                        <span>LATEST NEWS</span>
                        <h2>Reading Our Blog Content</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                    data-aos-delay="100">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="Image">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="posts-by-author.html">Admin</a></li>
                                <li><i class="flaticon-bubble-chat"></i>No Comment</li>
                                <li><i class="flaticon-calendar"></i><a href="posts-by-date.html">01 Nov, 2021</a>
                                </li>
                            </ul>
                            <h3><a href="blog-details-right-sidebar.html">Augmented Headphones</a></h3>
                            <p>White in eu mi bibendum neque egestas set cong tincidunt nunc pulvinar sapien</p>
                            <a href="blog-details-right-sidebar.html" class="link style1">Read More
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                    data-aos-delay="200">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="{% static 'assets/img/blog/blog-2.jpg' %}" alt="Image">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="posts-by-author.html">Admin</a></li>
                                <li><i class="flaticon-bubble-chat"></i>No Comment</li>
                                <li><i class="flaticon-calendar"></i><a href="posts-by-date.html">22 Oct, 2021</a>
                                </li>
                            </ul>
                            <h3><a href="blog-details-right-sidebar.html">Authentic, Engaging Sound</a></h3>
                            <p>White in eu mi bibendum neque egestas set cong tincidunt nunc pulvinar sapien</p>
                            <a href="blog-details-right-sidebar.html" class="link style1">Read More
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                    data-aos-delay="300">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="{% static 'assets/img/blog/blog-3.jpg' %}" alt="Image">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="posts-by-author.html">Admin</a></li>
                                <li><i class="flaticon-bubble-chat"></i>No Comment</li>
                                <li><i class="flaticon-calendar"></i><a href="posts-by-date.html">12 Sep, 2021</a>
                                </li>
                            </ul>
                            <h3><a href="blog-details-right-sidebar.html">User Ratings Confirmation</a></h3>
                            <p>White in eu mi bibendum neque egestas set cong tincidunt nunc pulvinar sapien</p>
                            <a href="blog-details-right-sidebar.html" class="link style1">Read More
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="newsletter-wrap">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="newsletter-title style1">
                        <h2>Subscribe Our Newsletter</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="#" class="newsletter-form">
                        <input type="email" placeholder="Enter Your Email Address">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer-wrap bg-mine-shaft">
        <div class="container">
            <div class="row pt-100 pb-75">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 pe-xl-5">
                    <div class="footer-widget">
                        <a href="index-2.html" class="footer-logo">
                            <img src="{% static 'assets/img/logo-white.png' %}" alt="Image">
                        </a>
                        <p class="comp-desc">
                            Lorem ipsum dolor sit amet consec tetur adisoom isotope elit eiusmod temporum incidunt
                            labore dolore magna aliqu core tetur adip iscing eliteous sedun amet adisoom isotope.
                        </p>
                        <div class="social-link">
                            <h6>Follow Us:</h6>
                            <ul class="social-profile list-style style3">
                                <li>
                                    <a target="_blank" href="https://facebook.com/">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://linkedin.com/">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://instagram.com/">
                                        <i class="ri-pinterest-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">Information</h3>
                        <ul class="footer-menu list-style">
                            <li>
                                <a href="about.html" target="_blank">
                                    <i class="ri-arrow-right-s-line"></i>
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="shop-left-sidebar.html" target="_blank">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Our Shop
                                </a>
                            </li>
                            <li>
                                <a href="contact.html" target="_blank">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="refund-policy.html" target="_blank">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Refund Policy
                                </a>
                            </li>
                            <li>
                                <a href="privacy-policy.html" target="_blank">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 ps-xl-4">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">Account</h3>
                        <ul class="footer-menu list-style">
                            <li>
                                <a href="my-account.html" target="_blank">
                                    <i class="ri-arrow-right-s-line"></i>
                                    My Account
                                </a>
                            </li>
                            <li>
                                <a href="my-account.html" target="_blank">
                                    <i class="ri-arrow-right-s-line"></i>
                                    My Orders
                                </a>
                            </li>
                            <li>
                                <a href="my-account.html" target="_blank">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Returns
                                </a>
                            </li>
                            <li>
                                <a href="my-account.html" target="_blank">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Wishlist
                                </a>
                            </li>
                            <li>
                                <a href="my-account.html" target="_blank">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Shipping
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">Get In Touch</h3>
                        <ul class="contact-info list-style">
                            <li>
                                <i class="flaticon-pin"></i>
                                <h6>Location</h6>
                                <p>2967 Sunrise Street, New York</p>
                            </li>
                            <li>
                                <i class="flaticon-email-1"></i>
                                <h6>Email</h6>
                                <a
                                    href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#dbb3beb7b7b49bbe90b4b6f5b8b4b6"><span
                                        class="__cf_email__"
                                        data-cfemail="91f9f4fdfdfed1f4dafefcbff2fefc">[email&#160;protected]</span></a>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <h6>Phone</h6>
                                <a href="tel:13454567877">+1-3454-5678-77</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright-text">
            <i class="ri-copyright-line"></i>
            <script data-cfasync="false"
                src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
            <script>document.write(new Date().getFullYear())</script> <span>eKom</span>. All Rights Reserved By <a
                href="https://hibootstrap.com/" target="_blank">HiBootstrap</a>
        </p>
    </footer>

</div>


<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>



{% endblock %}

<!-- <div class="modal fade" id="modal-subscribe" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row align-items-center gx-5">
                        <div class="col-sm-6 col-lg-6">
                            <div class="subscribe-bg bg-f">
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="subscribe-content">
                                <h2>Subscribe Newsletter</h2>
                                <p>Subscribe our newsletter to get our updated news</p>
                                <form class="newsletter-form" data-toggle="validator">
                                    <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL"
                                        required autocomplete="off">
                                    <button class="btn style1" type="submit">
                                        Subscribe
                                    </button>
                                    <div class="inner-check mt-30">
                                        <div class="checkbox style2">
                                            <input type="checkbox" id="test_3">
                                            <label for="test_3">Dont' show this popup again.</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->