{% extends 'base.html' %}
{% load static %}

{% block title %}Product Item{% endblock %}

{% block style %}
<style>
    .product-item {
        margin-top: 150px;
        width: 100%;

    }

    .product-image img {
        width: 80%;
        border: 1px solid gray;
        padding-bottom: 50px;
        margin-bottom: 20px;
    }

    .stars li {
        display: inline-block;
        width: 100%;
        position: relative;
        list-style: none
    }

    .flaticon-star {
        display: inline;
    }

    .product-image {
        width: 50%;
    }

    h4 {
        color: green;
    }

    .add-to-cart,
    .buy-now {
        display: inline-block;
        width: 30%;
        padding: 10px;
        background-color: #cd9453;
        border: none;
        font-weight: 500;
        border-radius: 2px;
        margin: 20px 10px;
    }

    button a {
        color: white;
    }

    .stars {
        display: inline-flex;
        margin: 0px -5px;
        padding: 0px;
    }

    .stars li {
        padding: 0px 5px;
        margin: 0px;
    }

    .mrp {
        text-decoration: line-through;
    }
</style>
{% endblock %}

{% block body %}



<div class="container product-item">
    <div class="col-12  row">
        <div class="product-image col-6 col-sm-12 col-md-6">
            <img src="{{product.Image.url}}" alt="">
        </div>
        <div class="col-6 col-sm-12 col-md-6 product-info">
            <div class="product-name">
                <h2>{{product.ProductName}}</h2>
            </div>
            <div class="product-description my-4">
                <h5>{{product.Description}}</h5>
            </div>
            <div class="ratings-star">
                <ul class="stars ">
                    <li><i class="flaticon-star"></i></li>
                    <li><i class="flaticon-star"></i></li>
                    <li><i class="flaticon-star"></i></li>
                    <li><i class="flaticon-star-2"></i></li>
                    <li><i class="flaticon-star-2"></i></li>
                </ul>
            </div>
            <div class="product-price">
                <p>MRP : <span class="mrp">2566.00</span> </p>
                <p class="price">Price : <span class=""> {{product.Price}}</span></p>

            </div>
            <div class="brand">
                <p>Brand : <span>{{product.Brand}}</span></p>
                </p>
            </div>

            <form action="{% url 'add_to_cart' %}" method="get">
                {% csrf_token %}
                <div class="cart row">

                    <input type="hidden" name="prod_id" value = {{product.id}} id = "prod_id">
                    <button type = 'submit' class ='btn btn-primary'>Add to Cart</button>

                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}